.orange-btn {
    background-color: rgb(207, 96, 45);
    color: white;
    padding: 17px 48px;
    border: none;
    border-radius: 12px;
    margin: 10px;
    gap: 10px;
    transition: all 0.3s ease;

}

.orange-btn:hover {
    background-color: rgb(199, 85, 18);
}